<div class="wrapper wrapper-content">
    <div class="row equal">
        <div class="col-md-3 col-sm-6 col-xs-12 m-b-md" ng-repeat="store in stores">
            <div class="ibox height-full-parent">
                <div class="ibox-content product-box height-full-parent">
                    <!--<div class="product-imitation no-padding">-->
                        <!--<img ng-click="vm.editBot(fanpage)" alt="image" class="img-responsive full-width" ng-src="{{fanpage.image}}">-->

                    <!--</div>-->
                    <div class="product-desc">
                        <!--<a href="{{fanpage.link}}" target="_blank" class="product-name">-->
                            <!--<i class="fa fa-facebook-square color-facebook"></i>-->
                            <!--{{fanpage.name}}-->
                        <!--</a>-->
                        <!--<a href="#" class="product-name">-->
                            <!--<div class="small m-t-xs">-->
                                <!--{{fanpage.bot.name}}-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<div class="m-t position-absolute b-15">-->
                            <!---->
                        <!--</div>-->
                        <div class="store-name">
                            Tên: {{store.name}}
                        </div>
                        <div class="">
                            Địa chỉ: {{store.address}}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>