
<div style="width: 100%; height: 100%;" class="gray-bg" ng-controller="LoginCtr">

    <div class="middle-box text-center loginscreen animated fadeInDown gray-bg">
        <div>
            <h2>Login</h2>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="text" ng-model="username" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
                </div>
                <button ng-click="login()" class="btn btn-primary block full-width m-b">Login</button>

                <!--<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
            </form>
            <p class="m-t"> <small>haucv &copy; 2014</small> </p>
        </div>
    </div>

</div>
